config.php

uploads/original/*
!uploads/original/.gitkeep
uploads/result/*
!uploads/result/.gitkeep
uploads/corrected/*
!uploads/corrected/.gitkeep
uploads/intermediate/*
!uploads/intermediate/.gitkeep
uploads/tmp/*
!uploads/tmp/.gitkeep
!uploads/tmp/.htaccess

python/__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
